@import 'variables.scss';

h4 {
  color: $black;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 20px 0;
}

.video_link {
  background: $main_color !important;
}

.video_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
  margin: 0 auto;
}

.modal-content {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  position: relative;
  right: 10%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 60px;
}

.modal-body iframe {
  padding: 10px;
}

@media (max-width: 1280px) {
  .video_container {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 17px;
  }
  .video_container {
    button{
      font-size: 11px;
    }
  }
  .modal-content, .modal-header, iframe {
    width: 300px;
  }
  .modal-content {
    right: 0;
    margin: 0 auto;
  }
}
