<h2>{{'worklog.header' | translate}}</h2>
<div class="accordion-wrapper">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let member of team">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{member.name | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="member.features" class="mat-elevation-z8">
        <ng-container matColumnDef="feature">
          <th mat-header-cell *matHeaderCellDef> Feature </th>
          <td mat-cell *matCellDef="let element"> {{element.feature | translate}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time Spent </th>
          <td mat-cell *matCellDef="let element"> {{element.time | translate}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="difficulties-wrapper">
  <h3 class="difficulties-header">{{'worklog.worklog-difficulties' | translate}}</h3>
  <div class="difficulties">
    <blockquote>{{'worklog.difficulty1' | translate}}</blockquote>
    <cite class="author">{{'worklog.difficulty1-author' | translate}}</cite>
    <blockquote>{{'worklog.difficulty2' | translate}}</blockquote>
    <cite class="author">{{'worklog.difficulty2-author' | translate}}</cite>
    <blockquote>{{'worklog.difficulty3' | translate}}</blockquote>
    <cite class="author">{{'worklog.difficulty3-author' | translate}}</cite>
  </div>
</div>
<div class="self-evaluation-container">
  <h3>{{'worklog.title' | translate}}</h3>
  <div class="min-scope">
    <div class="total">
      {{'min-scope.title' | translate}}: {{minScopeActual}}/{{minScopeTotal}}
    </div>
    <mat-checkbox *ngFor="let item of minScope"
                  [checked]="item.completed"
                  (change)="item.completed = !item.completed;
                  onMinScopeChange()"
    >
      <strong>{{item.value}}</strong>
      {{item.text | translate}}
    </mat-checkbox>
  </div>
  <div class="normal-scope">
    <div class="total">
      {{'normal-scope.title' | translate}}: {{normalScopeActual}}/{{normalScopeTotal}}
    </div>
    <mat-checkbox *ngFor="let item of normalScope"
                  [checked]="item.completed"
                  (change)="item.completed = !item.completed;
                  onNormalScopeChange()"
    >
      <strong>{{item.value}}</strong>
      {{item.text | translate}}
    </mat-checkbox>
  </div>
  <div class="extra-scope">
    <div class="total">
      {{'extra-scope.title' | translate}}: {{extraScopeActual}}/{{extraScopeTotal}}
    </div>
    <mat-checkbox *ngFor="let item of extraScope"
                  [checked]="item.completed"
                  (change)="item.completed = !item.completed;
                  onExtraScopeChange()"
    >
      <strong>{{item.value}}</strong>
      {{item.text | translate}}
    </mat-checkbox>
  </div>
  <div class="total-container">
    {{'worklog.total' | translate}}: {{actualScore}} / {{totalScore}}
  </div>
</div>
