<div class="generalWrapper">

  <div class="heading">
    <p class="heading-text" #mainHeading>Архитекторы Беларуси</p>
    <div class="fore-pic"></div>
  </div>



  <p id="subheadingIntroduction">Что такое</p>

  <div class="subheadingWrapper">

    <div class="shield"></div>

    <div class="text-effect">
      <h1 class="neon" data-text="Культурный Портал?" contenteditable>Культурный Портал?</h1>
      <div class="gradient"></div>
      <div class="spotlight"></div>
    </div>

  </div>

  <p class="description">Как правило, любой портал содержит страницы по определённой теме или области знаний. Культурные порталы могут быть связаны с одним или несколькими культурными проектами. Однако, в отличие от крупных культурных порталов, которые предназначены для координации действий авторов различных статей и материала, наш культурный портал ориентирован на читателя, давая ему общий обзор темы белорусской архитектуры, и содержит обобщающую информацию о белорусских архитекторах.</p>

  
  <div class="buttonWrapper">
    <a routerLink="/content" class="intro__btn">{{'pageLinks.enter' | translate}}</a>
  </div>

  <app-our-team></app-our-team>

  <app-footer></app-footer>

</div>
