<header class="header">
  <h1 class="header__title">Архитекторы Беларуси</h1>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" routerLink="/content/architects" routerLinkActive="active">Архитекторы</a>
      </li>
      <li class="header__item">
        <a class="header__link" routerLink="/content"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">О портале</a>
      </li>
      <li class="header__item">
        <a class="header__link" routerLink="/content/worklog"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Ворклог</a>
      </li>
    </ul>
  </nav>
</header>
