@import 'variables.scss';

  h1 {
    padding: 40px 0;
    margin: 0;
    text-align: center;
    font-size: 36px;
  }

  nav {
    background: $main_color;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    font-size: 20px;
    &.active, &:hover {
      text-decoration: underline;
    }
  }
