<div class="architects__wrapper">
  <div class="architects__search">
    <label class="architects__label">
      <input type="text" class="architects__input"
             [(ngModel)]="searchStr"
             placeholder="{{'pageLinks.Search-area' | translate}}">
    </label>
  </div>
  <div class="architects__container">
    <ul class="architects__list">
      <li class="architects__item arch-card" *ngFor="let architect of architects | searchBy:searchStr">
        <div class="arch-card__preview">
          <img [src]="architect?.img" [alt]="architect?.name" class="arch-card__img">
        </div>
        <div class="arch-card__content">
          <div class="arch-card__title">{{architect.path + '.' + architect.name | translate}}</div>
          <div class="arch-card__date">{{architect.path + '.' + architect.date | translate}}</div>
          <div class="arch-card__desc">{{architect.path + '.' + architect.vita | translate}}</div>
          <a [routerLink]="architect.id" class="arch-card__link">
            {{'pageLinks.More' | translate}}
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
