<div class="architects__wrapper">
  <div class="architects__search">
    <label class="architects__label"> Search...
      <input type="text" class="architects__input">
    </label>
  </div>
  <div class="architects__container">
    <ul class="architects__list">
      <li class="architects__item arch-card" *ngFor="let architect of architects">
        <div class="arch-card__preview">
          <img [src]="architect?.img" alt="" class="arch-card__img">
        </div>
        <div class="arch-card__title">{{architect.path + '.' + architect.name | translate}}</div>
        <div class="arch-card__date">{{architect.path + '.' + architect.date | translate}}</div>
        <div class="arch-card__desc">{{architect.path + '.' + architect.vita | translate}}</div>
        <button class="arch-card__btn" (click)="navigateToDetail(architect.id)">More...</button>
      </li>
    </ul>
  </div>
</div>
