@import '../../../../../scss/variables';

h4 {
  color: $black;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 20px 0;
}

.photo_gallery {
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
}

.author_work_image {
  width: 600px;
  height: 400px;
}

