@import '../../../../scss/variables';

:host {
    text-align: center;
    width: 385px;
    background-color: $sub_color;
    color: $font_color;
}


.img-wrapper {
    overflow: hidden;
    height: 430px;
    img {
        width: 100%;
    }
}

.content {
    padding: 20px;
    a {
        background-color: white;
    }
    
    h4 {
        font-size: 25px;
        margin-top: 10px;
    }
    
    p {
        font-size: 18px;
        line-height: 24px;
    }
}
