<!-- <p>{{'pageLinks.styleGuide' | translate}}</p> -->



<!-- Welcome -->
<div class="welcomeHeading">
  <h1>Welcome to the styleguide of our <a routerLink="/">Culture Portal</a></h1>
  <p>Here you can find all the styles used in our project</p>
</div>



<!-- Colors -->
<div class="styleguideColors">
  <div class="wrp">
    <div class="color-box" style="background-color: #D29F9F">
        <span class="text">#d29f9f</span>
    </div>
    <h2>Primary</h2>
  </div>
  
  <div class="wrp">
    <div class="color-box" style="background-color: #f9e7d3">
        <span class="text">#f9e7d3</span>
    </div>
    <h2>Secondary</h2>
  </div>
  
  <div class="wrp">
    <div class="color-box" style="background-color: #000000">
        <span class="text">#000000</span>
    </div>
    <h2>Text primary</h2>
  </div>
  
  <div class="wrp">
    <div class="color-box" style="background-color: #3e3636">
        <span class="text">#3e3636</span>
    </div>
    <h2>Text secondary</h2>
  </div>
</div>



<!-- Headings -->
<div class="styleguideHeadings">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div>



<!-- Buttons -->
<div class="styleguideButtons">
  <a class="colored_btn">Colored</a>
  <a class="outlined_btn">Outlined</a>
</div>



<!-- Search Form -->
<div class="stuleguideSearchForm">
  <div class="form">
    <input type="search" placeholder="Name or city of architect">
    <button class="icon">
        <img src="../../../../assets/images/search_icon.png" alt="search">
    </button>
  </div>
</div>



<!-- Text -->
<div class="styleguideTextWrapper">
  <p class="styleguideText">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quis ipsum! Inventore assumenda quisquam corrupti vitae aliquam, quos similique velit cupiditate culpa doloremque nostrum, dicta voluptatum esse a laborum asperiores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quis ipsum! Inventore assumenda quisquam corrupti vitae aliquam, quos similique velit cupiditate culpa doloremque nostrum, dicta voluptatum esse a laborum asperiores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quis ipsum! Inventore assumenda quisquam corrupti vitae aliquam, quos similique velit cupiditate culpa doloremque nostrum, dicta voluptatum esse a laborum asperiores?
  </p>
</div>
