<div class="wrp">
    <h2>{{'pageLinks.ourTeam' | translate}}</h2>
    <div class="list">
        <div class="item">
            <div class="photo">
                <img src="/assets/images/vladimir-drachuk.jpg" alt="Vladimir Drachuk">
                <a href="https://github.com/vladimir-drachuk"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Vladimir Drachuk</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/assets/images/Alex-Edward-Klim.jpg" alt="Alexey Klimovskoy">
                <a href="https://github.com/Alex-Edward-Klim"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Alexey Klimovskoy</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/assets/images/shrrrimp.jpg" alt="Yuliya Takmakova">
                <a href="https://github.com/shrrrimp"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Yuliya Takmakova</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/assets/images/pavel-leskavets.jpg" alt="Pavel Leskavets">
                <a href="https://github.com/pavel-leskavets"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Pavel Leskavets</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/assets/images/beMoreHuman.jpg" alt="Oleksandr Klymenko">
                <a href="https://github.com/BeMoreHuman"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Oleksandr Klymenko</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/assets/images/dimlbc.jpg" alt="Dmitri Lobachevski">
                <a href="https://github.com/dimlbc"><img class="icon" src="/assets/images/github_icon3.png" alt="github"></a>
            </div>
            <div class="text">
                <h3 class="name">Dmitri Lobachevski</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы выполнять важные задания.</p>
            </div>
        </div>
    </div>
    <a id="more-btn" routerLink="/content/worklog">{{'pageLinks.More' | translate}}</a>
</div>

