@import '../../../../../scss/variables';

:host {
    display: flex;
    justify-content: space-around;
}

.author {
    text-align: center;
    margin: 30px;
}

.portfolio {
    margin: 30px;
    table {
        border-collapse: collapse;
        .works-name {
            width: 600px;
            padding-right: 150px;
            word-break: break-word;
        }
        .works-year {
            text-align: right;
        }
        td {
            padding: 10px;
        }
        .colored {
            background-color: $sub_color; 
        }
    }
}