<div class="author">
    <img [src]=" author.img " alt="photo">
    <h4>{{ author.name }}</h4>
    <p>{{ author.date }}</p>
    <p>{{ author.vita }}</p>
</div>
<div class="portfolio">
    <h4>Famous work</h4>
    <table>
        <thead>
            <td>Наименование объекта</td>
            <td>Дата создания</td>
        </thead>
        <tr *ngFor="let item of author.work"  [item]=" author.work.indexOf(item) " appColored>
            <td class="works-name">{{ item.title }}</td>
            <td class="works-year">{{ item.date }}</td>
        </tr>
    </table>
</div>
