<div>
    <p [innerHTML]="'pageLinks.Main-content-1' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-2' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-3' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-4' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-5' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-6' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-7' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-8' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-9' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-10' | translate"></p>
    <p [innerHTML]="'pageLinks.Main-content-11' | translate"></p>
</div>
<app-day-author></app-day-author>
