:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 30px 90px 30px;
}

div {
  padding-right: 40px;
}

p {
  text-indent: 1.5em;
  margin: 10px;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
}



@media (max-width: 940px) {
  :host {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  div {
    padding-right: 0;
  }
}

@media (max-width: 630px) {
  :host {
    padding: 10px 15px 40px 15px;
  }

  p {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (max-width: 420px) {
  :host {
    padding: 10px 10px 40px 10px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
}