$main_color: #D29F9F;
$sub_color: #F9E7D3;
$font_color: #3E3636;
$black: #000000;

@font-face {
    font-family: 'Gothic';
    src: url('src/assets/fonts/GothicRus.woff') format('woff'),
         url('src/assets/fonts/GothicRus.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'Gothic';
    color: $black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: $font_color;
}