@import '../../../../../scss/variables';

h4 {
    color: $black;
    font-size: 30px;
    text-align: center;
    margin: 50px 0 20px 0;
}

.video-map-wrapper {
    display: flex;
    justify-content: space-around;
}



/*------------------*/
p {
    background-color: #E5E5E5;
}
